name: microservices

services:
    users-service:
        build: ./users # Ścieżka do folderu z Dockerfile serwisu users
        container_name: users
        env_file: .env
        ports:
            - "3002:3002"

    books-service:
        build: ./books # Ścieżka do folderu z Dockerfile serwisu books
        container_name: books
        env_file: .env
        ports:
            - "3000:3000"
        depends_on:
            - users-service

    orders-service:
        build: ./orders # Ścieżka do folderu z Dockerfile serwisu orders
        container_name: orders
        env_file: .env
        ports:
            - "3003:3003"
        depends_on:
            - users-service
            - books-service
